:root{
  --primary-100:#005B99;
  --primary-200:#4e88ca;
  --primary-300:#b7e9ff;
  --accent-100:#FFD700;
  --accent-200:#e9aa2b;
  --text-100:#333333;
  --text-200:#5c5c5c;
  --text-150: #444;
  --bg-100:#F5F5F5;
  --bg-200:#ebebeb;
  --bg-300:#c2c2c2;
}

.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  width: 100%;
}

.custom-list {
  flex: 1;
  padding-right: 20px;
}

.custom-image {
  flex: 1;
}

.unidade {
  display: flex; 
  flex-direction: row; 
  margin: 5px; 
  overflow: hidden; 
  justify-content:center;
}

.card-unidade{
  max-height: 400px; 
  overflow-y: auto; 
  flex-direction: row; 
  width: 441px;
  justify-content: flex-end;
}

.bg-1{
  background-color: #F3F3F3;
}

.calendario {
  display: flex;
  align-items: center;
  max-width: 15rem; /* Defina uma largura máxima */
}

.news-data {
  height: auto; /* Permita que a altura seja ajustada automaticamente */
  color: var(--text-150);
  /*background-color: var(--primary-200);*/
}

.news-text {
  width: 80%; /* Use o restante do espaço para o texto */
}

.capa {
  max-width: 100%;
  height: auto;
}

.content-capa{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 300px) {
  .calendario {
    max-width: 12rem; /* Ajuste a largura máxima para dispositivos menores */
  }
  
  .capa{
    max-width: 50%;
  }
}

.p-25{
  padding: 25px;
}

.titulo-max{
  max-width: 60%;
}

.border-top-color{
  border-top: #0B3142 2px solid;
}

.border-bottom-color{
  border-bottom: #0B3142 2px solid;
}

.navbar{
  background: #0070C0;
  color: #FFFFFF;
}

.card-event{
  background: var(--primary-100);
  color: var(--bg-100);
  margin: 5px; 
  flex-basis: calc(17% - 10px);
}

.area{
  display: flex; 
  flex-direction: row; 
  margin: 5px; 
  flex-wrap: wrap; 
  justify-content:center;
}

.h-50{
  height: 50vh;
}

.nav-text-white{
  color: #FFFFFF;
}

.nav-text-white:hover{
  color:#b7e9ff;
}

.sorts {
  color: rgb(155, 155, 155);
  font-size: 20px;
  pointer-events: stroke;
}

.sorts:hover {
  color: white;
}

.sort-link:focus .sorts {
  color: white;
}

legend{
  font-style: italic;
  color: var(--text-150);
}

.text-gray{
  color: var(--text-150);
}

.grid-unid{
  display: grid; 

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  gap: 0px;
  height: 100%;
  
}
 
.mod-horario {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 3; 
}
.unid-mapa {
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 5;
}

.hora-input{
  margin: 5px;
  width: 47%;
}

.custom-button {
  width: 100%;
  text-align: left;
  padding: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.custom-button:hover {
  color: #3b82f6; /* Cor azul */
}

.text-bold {
  font-weight: bold;
  color: #000000; /* Preto ou qualquer cor desejada */
}

.text-gray-400 {
  color: #d1d5db; /* Cinza claro */
}

.unidade-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.unidade-item h5 {
  margin: 0;
  color: #333;
}

.unidade-item p {
  margin: 5px 0;
  color: #666;
}

.divisao{
  border: 5px var(--primary-200) solid; 
  border-radius: 5px;
}
/*
.hidden {
  display: none;
}*/